#featured_tea {
    max-width: 1000px;
    margin: 0 auto;
}

#featured_tea h2 {
    font-size: 2rem;
}

#featured_tea h4{
    font-size: 1.375rem;
}

.list_item {
    display: inline-flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-inline: 0.5rem;
}

dt {
    font-size: 1.375rem;
    padding-block: 1rem;
}

dd {
    max-width: 18.75rem; /*300px*/
    max-height: 12.5rem; /*200px*/
    margin-inline-start: 0;
}

dd img {
    display: inline-block;
    width: 100%;
}