.contact_information {
    height: 12.5rem; /* 200px */
    line-height: 1.5;
}

.contact_information h2 {
    margin-block-start: 1rem;
}

.contact_information a {
    text-decoration: none;
}

.contact_information a:hover {
    font-weight: bold;
}

#copyright {
    text-align: start;
    margin-inline-start: 1.25rem; /* 20px */
}