header {
    height: 4.3125rem; /* 69px */
    padding-inline-start: 0.625rem;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid seashell;
}

header h1 {
    display: inline-block;
}

header img {
    aspect-ratio: 264/84;
    max-width: 100%;
}

header ul {
    display: inline-flex;
}

 header li {
     display: inline;
     text-decoration: underline;
 }

