#locations {
    margin-inline-start: auto;
    margin-inline-end: auto;
    padding: 5rem 0;
    max-width: 1200px;
    background-image: url('../resources/Images/img-locations-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#locations h3 {
    font-size: 1.5rem;
}

#locations ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}

#locations li {
    max-width: 300px;
    width: 25%;
    background-color: black;
}

#locations p {
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    font-size: clamp(0.5rem, 22px, 2rem);
    line-height: 3;
}

#locations a {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}