#mission {
    margin-block-start: 0;
    margin-block-end: 3rem;
    margin-inline-start: auto;
    margin-inline-end: auto;
    padding: 16rem 0;
    max-width: 1200px;
    background-image: url(../resources/Images/img-mission-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.container {
    margin-block-start: auto;
    margin-block-end: auto;
    padding-block-start: 0.5rem;
    padding-block-end: 0.5rem;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    color: seashell;
    background-color: black;
}